/* reset styles */
* {
    margin: 0;
}

/* clear float */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* define key colors */
:root {
    --image-panel-color: #eee;
    --tab-area-height: 2.5vh;
}

body {
    height: 100vh;
}

.container {
    height: 100vh;
    width: 177vh;
    display: flex;
    margin: 0 auto;
    background-color: antiquewhite;
}

.left-column {
    height: 100vh;
    width: 90vh;
    /* background-color: bisque; */
}
.input-area {
    height: 6vh;
    display: flex;
    /* background-color: chartreuse; */
}
.input-container {
    height: 4vh;
    width: 60vh;
    margin: auto;
}
.image-area {
    height: 94vh;
    display: flex;
    /* background-color: darkgoldenrod; */
}
.image-panel {
    height: 93vh;
    width: 89vh;
    margin: auto;
}
.tab-area {
    height: var(--tab-area-height);
    display: flex;
    /* background-color: indianred; */
}
.tab {
    height: var(--tab-area-height);
    width: 29vh;
    box-sizing: border-box;
    background-color: silver;
    border: 1px solid black;
    border-radius: 1vh 1vh 0 0;
    text-align: center;
    font-size: 2vh;
    user-select: none;
}
#error-tab {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.tab[on-view] {
    width: 31vh;
    border-bottom: 0;
    background-color: var(--image-panel-color);
}
.image-container {
    height: 89vh;
    padding: 5%;
    box-sizing: border-box;
    background-color: var(--image-panel-color);
    border: 1px solid black;
    border-top: 0;
    border-radius: 0 0 1vh 1vh;
}
.afm-image {
    transform-origin: top left;
}

.right-column {
    height: 100vh;
    width: 87vh;
    /* background-color: fuchsia; */
}
.info-area {
    height: 5vh;
}
.toolbar {
    height: 5vh;
}
.text-area-container {
    height: 90vh;
    display: flex;
}
#data {
    width: 85vh;
    height: 88vh;
    margin: auto;
}

